:root {
    --primary--header--color--: #757575;
    --second--header--color--: #212121;
    --accent--header--color--: #2196F3;
    --primary--title--color--: #212121;
    --primary--acent--btn--color--: #FFFFFF;
    --logo--header--color--: #000000;
    --cap--bgr--color--: #2F303A;
    --cap--btn-bgr--color--: #2196F3;
    --footer--bgr--color--: #2F303A;
    --footer--logo--: #FFFFFF;
    --footer--link--: rgba(255, 255, 255, 0.6);
    --team--bgr--color--: #F5F4FA;
    --cap--bgr--focus--: #188CE8;
  --filter--btn--focus--: #2196F3;
  --filter--bgr--color--: #F5F4FA;
  ---primary--border-color: #EEEEEE;
  --link--icon--color: #AFB1B8;
  --work-item-bgr-color: rgba(47, 48, 58, 0.8);
  --footer-icon-link-bgr: rgba(255, 255, 255, 0.1);
  --img-title-bgr: rgba(33, 150, 243, 0.9);
  
   }


body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary--header--color--);
}