.features {
    padding-top: 94px;
    padding-bottom: 94px;
    & .list {
      display: flex;
       }

       & .features__item {
        width: calc((100% - 3 * 30px) / 4);
        margin-right: 30px;
      }

      & .features__item:nth-child(4n) {
        margin-right: 0;
         }
         & .features__title {
          margin-bottom: 10px;
         font-weight: 700;
         font-size: 14px;
         line-height: 1.14;
         color: var(--primary--title--color--);
         }

         & .features__text {
          color: var(--primary--header--color--);
          }
   }
     .features__icon {
        padding: 25px 100px 25px 100px;
        width: 270px;
        height: 120px;
        margin-bottom: 30px;
        background-color: var(--filter--bgr--color--);
        border-radius: 4px;
      }
  
     
    