.modal__policy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    & .checkbox {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
        }
        
       & .modal__icon--checkbox {
        position: relative;
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 5px;
        border: 2px solid #2a2a2a;
        border-radius: 4px;
        transition: transform 250ms linear;
        }

    }
    
   
    
    .checkbox:checked + .modal__icon--checkbox {
    border-color: transparent;
    background-color: var(--accent--header--color--);
    background-size: contain;
    background-origin: border-box;
    
    }
    
    .modal__checkbox--policy {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary--header--color--);
    }
    .modal__icon--check {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    border: 0;
    padding: 0;
    } 
    
    .modal__checkbox--link {
    color: var(--accent--header--color--);
    text-decoration: underline;
    }
    